ul{
    font-style:normal;
    font-weight:lighter;
    font-size:25px;
}

p
{
    font-style:italic;
    font-weight:bold;
    font-size:35px;
}
font{
    font-style:oblique;
    font-weight:bolder;
    font-size:40px;
}